/*��4��Ԫ ��Ŀ4-2 �û�ע��ҳ��*/
*:focus {outline: none;}/*��Ԫ�ػ�ý���ʱ�����������߿򣨻������*/
.contact_form{
    width: 70%;/*���ø�Ԫ�ؿ��Ϊ�����������70%*/
    position: absolute;/*���Զ�λ*/
    top: 30%;
    left: 25%;
}
h2{
    font-size: 80px;
}
ul li{
    width: 1000px;
}
.reset{

}
.tree{
    position:relative;/*��Զ�λ*/
    top: 420px;
    left: 260px;
}
.contact_form h2, .contact_form span {
    font-family:Georgia, Times, "Times New Roman", serif;
}
.form_hint {font-size: 11px;}
.contact_form ul {
    width:750px;
    list-style: none;/*���Ĭ����ʽ*/
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}
/*������Ϊcontact_form��Ԫ�صĵ�һ����Ԫ��li�����һ����Ԫ��li�ӵײ��߿�*/
.contact_form li:first-child,
.contact_form li:last-child {
    border-bottom:1px solid #777;
}
.contact_form h2 {
    margin:0;
}
.contact_form span {
    width:150px;
    margin-top: 3px;
    display:inline-block;/*�ѿ�Ԫ��ǿ��ת��Ϊ���ڿ�Ԫ��*/
    padding:3px;
}
/*������Ϊusually��Ԫ���µ�input��ǩ�����ߺ��ڱ߾�*/
.usually input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}
.special input {
    height:15px;
    width:40px;
    padding:5px 8px;
}
/*������Ϊusually��Ԫ���µ�input��textarea��ǩ���ñ�����ɫ������ͼƬ���߿�����
Ӱ������Ӱ���߿�Բ���Լ��ڱ߾�Ĺ���Ч��*/
.usually input, .usually textarea {
    background: #fff url(../images/attention.png) no-repeat 98% center;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    transition: padding .25s;
}
/*����Ԫ�ػ�ý���ʱ�����ñ�����ɫ�ͱ���ͼƬ���߿�����Ӱ�����ڱ߾�*/
.usually input:focus, .usually textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:60px;
}
/* Button Style */
button.submit ,button.reset{
    background-color: #68b12f;
    /*������ɫ���Խ��䣺�������´�#68b12fɫ���ɵ�#50911e*/
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 20px;
    box-shadow: inset 0 1px 0 0 #9fd574;/*��������1px��#9fd574ɫ������Ӱ*/
    color: white;
    font-weight: bold;/*�����ϸΪ����*/
    padding: 6px 20px;/*�ڱ߾ࣺ����6px������20px*/
    text-align: center;/*�ı����뷽ʽ��ˮƽ����*/
    text-shadow: 0 -1px 0 #396715;/*�ı���Ӱ����1px��#396715ɫ*/

}
/*�������ͣ���ύ��ťʱ���ð�ť������ɫ͸����Ϊ85%������ɡ�С�֡�*/
button.submit:hover  button.reset:hover{
    opacity:.85;
    cursor: pointer;
}
/*��������ύ��ťʱ������1px��#20911eɫ��ʵ�ֱ߿�ͬʱ��������Ӱ*/
button.submit:active ,button.reset:active{
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
}
/*����Ԫ�ػ�ý�����д������Чʱ�����ñ�����ɫ������ͼƬ������Ӱ���߿���ɫ*/
.usually input:focus:invalid,
.usually textarea:focus:invalid {
    background: #fff url(../images/warn.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
/*����Ԫ�ػ�ȡ��Ч����д����ʱ�����ñ�����ɫ������ͼƬ������Ӱ���߿���ɫ*/
.usually input:required:valid,
.usually textarea:required:valid {
    background: #fff url(../images/right.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.usually1 input :focus{

    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:60px;
}
.usually1 input{
    height: 20px;
    width: 220px;
    padding: 5px 8px;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    transition: padding .25s;
}
















.qui-header{
    <<<<<<< HEAD
    position: relative;
=======
position: fixed;
>>>>>>> 20d23d3f42271c3887be81af09a385174d7a80de
padding-left: 20%;
    top: 20px;
    bottom: 0;
    background-color: white;
}
.qui-header a {
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px;
}
.qui-header a span{
    font-size: 20px;
    font-family: "Felix Titling";
}
.qui-header a:hover {
    color: #2bab99;
    transition: all 0.4s;

}
.qui-page{
    width:100%;
}
#img{
    display: block;
    float: left;
    margin-top: -15px;
}
<<<<<<< HEAD
=======
.qui-footer{
    position: fixed;
    bottom: 0;
    left:45%;
}
.qui-footer span{
    padding: 20px;
}

.qui-footer a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}





